:root {
	--primary-color: #5FAD16;
	--back-ground: #ffffff;
	--title: #434343;
    --brown-color: #797979;
    --loading-color: #f3f3f3;
    --box-shadow: rgba(0,0,0,0.1);
}

body {        
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #fcfbfb;
}
  
  