:root {
	--primary-color: #5FAD16;
    --color-container: #ccc;
	--back-ground: #ffffff;
    --brown-color: #797979;
    --loading-color: #f3f3f3;
    --box-shadow: rgba(0,0,0,0.1);
    --title: #434343;
    --not-found-background: #f0f0f0
}

body {        
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: var(--back-ground)
}