.container .card-container {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .card-item {
	display: grid; 
	align-content: center;
	position: relative;
	min-height: 300px;
    text-align: center;
}

.container .card-img-wrapper .avartar-img {
	width: 100px;
	height: 100px;
    border: 2px solid var(--back-ground);
}

.container .card-item .card-title h1 {
	color: var(--title);
    margin-bottom: -8px;
    font-size: 20px;
    font-weight: 600;
	text-transform: capitalize;
}

.container .card-item .card-position {
	height: 50px;
    justify-content: center;
    display: flex;
}

.container .card-item .card-position p {
	color: var(--brown-color);
}

.container .card-item .card-position svg {
    font-size: 16px;
    padding-right: 5px;
}

.container .card-item:hover {
    transform: scale(1.03);
}

.container .card-item .cover {
	position: absolute;
	height: 70px;
    width: 100%;
    background: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container .card-item .title-wrapper {
	margin-bottom: 20px;
}

.container .card-item .card-img-wrapper {
    margin: 10px auto;
	z-index: 1;
}

.container .card-item .card-footer {
	border-top: 2px solid var(--primary-color);;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 3px 6px -1px rgb(0 0 0 / 26%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    border-radius: 5px;
    padding: 10px;
}

.container .card-item .card-footer .box-wrapper .count {
	color: var(--title);
    font-size: 20px;
    font-weight: 600;
}

.container .card-item .card-footer .box-wrapper .box-text {
	font-size: 12px;
    font-weight: 600;
    color: #00000085;
    letter-spacing: 0.5px;
}