nav.header {
    box-shadow: 0 1px 8px var(--box-shadow);
    background-color: var(--white-color) !important;
    z-index: 3;
    padding: 10px;
}

.header .logo img {
    width: 120px;
}

@media screen and (max-width: 700px) {
	.logo {
		display: flex;
        justify-content: center;
	}
}
