.main-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.main-search-container .title {
  font-size: 25px;
  color: var(--title);
}

.search-container input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  min-width: 200px;
}

@media screen and (max-width: 500px) {
	.main-search-container {
    display: block;
  }
}
