.container {
  width: 99%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  flex-wrap: wrap;
	margin-top: 80px;
	display: flex;
	flex-wrap: wrap;
  width: 1200px;
  justify-content: center;
}