  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid var(--loading-color); 
    border-top: 10px solid var(--primary-color); 
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  
  .spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }