.container .card-container {
	flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	justify-content: center;
}

.container .card-item {
	display: grid; 
	align-content: center;
	margin: 10px 10px;
	position: relative;
	min-height: 300px;
    padding: 10px 10px;
    text-align: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
	border-radius: 5px;
}

.container .card-item img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	align-items: center;
	transition: transform .2s;
}

.container .card-item .card-title h1 {
	color: var(--title);
    margin-bottom: -8px;
    font-size: 20px;
    font-weight: 600;
	text-transform: capitalize;
}

.container .card-item .card-position {
	height: 50px;
    justify-content: center;
    display: flex;
}

.container .card-item .card-position p {
	width: 250px;
    display: block;
	color: var(--brown-color);
}

.container .card-item:hover {
	transform: scale(1.02);
	transition: transform .3s;
}

.container .card-item .cover {
	position: absolute;
	height: 80px;
    width: 100%;
    background: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container .card-item .title-wrapper {
	margin-bottom: 20px;
}

.container .card-item .card-img-wrapper {
    width: 260px;
    margin: 10px auto;
	z-index: 1;
}

.container .card-item .card-footer {
	border-top: 2px solid var(--primary-color);;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 3px 6px -1px rgb(0 0 0 / 26%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    border-radius: 5px;
    padding: 10px;
}

.container .card-item .card-footer .box-wrapper .count {
	color: var(--title);
    font-size: 20px;
    font-weight: 600;
}

.container .card-item .card-footer .box-wrapper .box-text {
	font-size: 12px;
    font-weight: 600;
    color: #00000085;
    letter-spacing: 0.5px;
}


@media screen and (max-width: 1200px) {
	.container .card-item {
		width: 33%;
	}

	.container .card-container {
		justify-content: center;
	}
}

@media screen and (max-width: 768px) {
	.container .card-item {
		width: 50%;
	}

	.container .card-container {
		justify-content: center;
	}
}

@media screen and (max-width: 568px) {
	.container .card-item {
		width: 50%;
	}

	.container .card-container {
		justify-content: center;
	}
}
